.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

/* .dice {
  text-align: center;
  display: inline-block;
  margin-right: 50px;
} */

.flex-ctr {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  letter-spacing: 5px;
  color: #4ECCA3;
}

p {
  margin-top: 20px;
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width:600px) {
  h1 {
    font-size: 2rem !important; 
  }
}